* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family1: "Space Grotesk", sans-serif;
  --font-family2: "Inter", sans-serif;

  --details-color: #e07b67;
  --background-color: #121214;
  --header-background-color: #17171a;
  --input-background-color: #202024;
  --cards-border-color: #252529;
  --cards-content-color: #afabb6;
  --main-text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--main-text-color);
}

header {
  background-color: var(--header-background-color);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  height: 20vh;
}

#logo {
  font-family: var(--font-family1);
  font-size: 40px;

  margin: 20px 0 10px;
}

#logo #span1 {
  color: var(--details-color);
}

#input {
  background-color: var(--input-background-color);
  background-image: url("./assets/search.svg");
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 25px;

  border: 2px solid var(--cards-border-color);
  border-radius: 8px;
  padding: 8px 16px 8px 48px;

  min-width: 60vw;

  font-size: 14px;
  font-family: var(--font-family2);
  color: var(--cards-content-color);
}

input:focus {
  outline: 1px solid var(--details-color);
}

input[type="search"]::-webkit-search-cancel-button {
  filter: brightness(6);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.cards {
  max-width: 60vw;

  height: max-content;

  padding: 20px;
  border: 2px solid var(--cards-border-color);
  border-radius: 8px;

  background-color: var(--header-background-color);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards section {
  display: inline-flex;
  justify-content: space-between;
}

.cards section .date {
  color: var(--details-color);
  font-family: var(--font-family2);
  font-size: 12px;
}

.cards section ion-icon {
  color: var(--details-color);
  font-size: 18px;
}

.cards h4 {
  font-family: var(--font-family1);
  font-size: 15px;
}

.cards p {
  font-family: var(--font-family2);
  font-size: 13px;
  color: var(--cards-content-color);
}

.cards:hover {
  border: 2px solid var(--details-color);
}

ion-icon:hover {
  cursor: pointer;
}

@media (max-width: 416px) {
  .cards {
    max-width: 65%;
  }
}

@media (max-width: 376px) {
  .cards {
    max-width: 70%;
  }
}
